@font-face {
    font-family: "gent-i";
    src: url("../../bookfonts/GentiumBookPlus-Italic.ttf");
}

@font-face {
    font-family: "gent-r";
    src: url("../../bookfonts/GentiumBookPlus-Regular.ttf");
}

@font-face {
    font-family: "pop-l";
    src: url("../../bookfonts/Poppins-Light.ttf");
}

@font-face {
    font-family: "pop-m";
    src: url("../../bookfonts/Poppins-Medium.ttf");
}